absl-py
astunparse
cachetools
certifi
charset-normalizer
click
contourpy
cycler
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna 
importlib-resources 
joblib 
keras 
kiwisolver 
libclang 
Markdown 
MarkupSafe 
matplotlib 
nltk 
numpy==1.25.2
oauthlib 
opt-einsum 
pandas 
pillow 
protobuf 
pyasn1 
pyasn1-modules 
pyparsing 
pytz 
regex 
requests 
requests-oauthlib 
rsa 
tensorboard 
tensorboard-data-server 
tensorflow 
tensorflow-estimator 
termcolor 
tqdm 
typing_extensions 
tzdata 
urllib3 
Werkzeug 
wrapt
torch==2.2.0 
torchtext==0.17.0 
torchvision 
datasets 
evaluate 
spacy  
scipy